# IDE
.idea

# Testing
tmp/*
!tmp/particl/README.md
bins/particl-core/particl*
!bins/particl-core/README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Build directories
dist/

# Yarn Integrity file
.yarn-integrity
